.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--background-color);
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.04);
    position: fixed;
    z-index: 2;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h2 {
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(63deg, #313baceb, #9eadc3c2);
        -webkit-background-clip: text;
        font-size: 26px;
        text-transform: uppercase;
        @media screen and (min-width: 2000px) {
            width: 180px;
            height: 40px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;
        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            margin-bottom: 5px;
        }
        a {
            color: var(--gray-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: var(--secondary-color);
            }
        }
    }
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    position: fixed;
    bottom: 5%;
    transform: translateX(5%);
    width: 90%;
    background: var(--background-color);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    border-radius: 30px;
    backdrop-filter: blur(4px);
    div {
        width: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: revert;
            overflow: hidden;
            li {
                a {
                    color: var(--gray-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: var(--secondary-color);
                    }
                    svg {
                        font-size: 20px;
                    }
                }
            }
        }
        @media screen and (min-width: 900px) {
            display: none;
        }
    }
    @media screen and (min-width: 900px) {
        display: none;
    }
}

.app__navbar-theme {
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--black-color);
    &:hover {
        color: var(--secondary-color);
    }
}